/* Reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    front-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}


#main {

}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    background-color: #000;
    padding: 0 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: hwb(267 57% 40%);
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;

}

#header .search-btn:hover {
    background-color: #f10606;
    border-radius: 4px;
    transition: background 0.2s;
    ;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: hwb(267 57% 40%);
}

#content {
    /* background-color: rgb(114, 223, 223);
    height: 1000px; */
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 16px;
    margin-top: 25px;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#content{

}


#content .content-session {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .session-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}
#content .about {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;

}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.333333%;
    text-align: center;
}

#content .member-name {
    
    font-weight: bold;
    font-size: 18px;
}

#content .member-photo {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#footer {

}